body {
    width: 100;
    height: 100vh;
    margin: auto;
    /* background-color: #1b1b32; */
    background-color: #3b3b4f;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}


#title {
    margin: 1em auto 0 auto;
    text-align: center;
}

#description {
    margin: 1em auto;
    text-align: center;
    font-style: italic;
}

form {
    background-color: rgba(27, 27, 50, 0.3);
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 7px;
}

fieldset {
    border: none;
    padding: 0.8rem 0;
}

fieldset:not:(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input#name, input#email, input#number {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2.5em;
}

label#first-name-label, label#last-name-label, label#email-label, label#number-label{
    margin-bottom: 1.5rem;
}

input, textarea, select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2.5em;
    border-radius: 3px;
}

input, textarea {
    border-color: #0a0a23;
    border: 1px solid #0a0a23;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #46b63c;
    border-color: white;
    min-width: 300px;
}

input[type="checkbox"] {
    min-height: 1.25em;
    min-width: 1.25em;
}

input[type="radio"] {
    margin-bottom: ;
}